*.tfstate
*.tfstate.backup
*.tfstate.lock.info

.terraform/

*.tfvars
*.tfvars.json

crash.log

__pycache__/
*.py[cod]
*$py.class

**/site-packages/
**/psycopg2/
**/*.so
**/*.zip
**/__pycache__/
venv/
.env

*.zip

dist/
build/
*.egg-info/

.localstack/

*.log
.vscode/
.idea/

.DS_Store
.directory
*~
*.swp